{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 col-lg-6 col-sm-12 col-12">
    <div class="card shadow my-4">
        <div class="card-header">
            <b><i class="bi bi-list-ul"></i>&nbsp;&nbsp;Add Vehicle</b>
        </div>
        <div class="card-body col-12 m-auto">
            
            <form class="m-0" method="post" action="{% url 'add_vehicle' %}">
                {% csrf_token %}
                <div class="row Category-1 m-0">
                    <div class="form-group col-6 m-0">
                        <label for="">Vehicle Number</label>
                        <input type='text' name="number" class="form-control" >
                    </div>
                    <div class="form-group col-6 m-0">
                        <label for="">Vehicle Type</label>
                        <select class="form-select mb-2 " name="select1">
                            <option>Select Vehicle Type</option>
                        </select>    
                    </div>

                    <div class="form-group">
                        <label for="">Vehicle Limit</label>
                        <select class="form-select mb-2 " name="select2">
                            <option>Select Vehicle Limit</option>
                        </select>    
                    </div>

                    <div class="form-group">
                        <label for="">Parking Charge</label>
                        <select class="form-select mb-2" name="select3">
                            <option>Select Parking Charge</option>
                        </select>    
                    </div>
                    <div class="text-center my-3 ">
                        <button class="col-12 btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="mycard card shadow">
        <div class="card-header">
            <b><i class="bi bi-list-check"></i>&nbsp;&nbsp;Current Vehicles</b>
        </div>
        <div class="card-body" style="margin-left: 100px;">
            <table id="example" class="table text-center table-striped table-bordered" >
                <thead class="text-center">
                    <tr>
                        <th >#</th>
                        <th>Vehicle Number</th>
                        <th>Area Number</th>
                        <th>Arrival Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for y in boy %}
                    <tr>
                        <td>{{y.id}}</td>
                        <td>{{y.vehical_number}}</td>
                        <td>{{y.add_area_no}}</td>
                        <td>{{y.parked_at}}</td>
                        <td>
                            {% if y.status == 'parked' %}
                                <button type="button" class="rounded-pill btn btn-primary btn btn-sm" style="width:100px;">{{y.status}}</button>
                            {% else %}
                                <button type="button" class="rounded-pill btn btn-success btn btn-sm" style="width:100px;">{{y.status}}</button></td>
                            {% endif %}
                        <td><button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-file-invoice"></i>&nbsp;Receipt</button></td>
                    </tr>
                    {% endfor %} 
                   

                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-3 my-4 ">
    <div class="card shadow">
        <div class="card-header">
            <b><i class="bi bi-layers"></i>&nbsp;&nbsp;Vehicle Limitations</b>
        </div>
        <div class="card-body">
            <table class="table">
                <ul class="list-group">
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Car <span><span class="mycolor">15</span> out of 18</span></li>
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Motorcycle<span><span class="mycolor">26</span> out of 26</span></li>
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Mini Van<span><span class="mycolor">7</span> out of 8</span></li>
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Pickup Van<span><span class="mycolor">11</span> out of 11</span></li>
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Mini Bus<span><span class="mycolor">6</span> out of 6</span></li>
                    <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">Car Type 101<span><span class="mycolor">15</span> out of 18</span></li>
                </ul>
            </table>
        </div>
    </div>
</div>

{% endblock %}